.post {
  width: 80%;
  margin: 0 auto;
  h1 {
    text-align: center;
  }

  &__comment {
    width: 100%;
  }

  &__more {
    font-style: italic !important;
    font-size: 1rem !important;
    display: inline-block !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
  }

  &__item {
    width: 70%;
    background-color: #2c3439;
    margin: 2rem auto;
    border: 1px solid white;
    padding: 1rem;
    display: grid;
    // grid-template-columns: 1fr 3fr;
    // grid-template-rows: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;

    &--user {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    p {
      //align-self: center;
      font-size: 2rem;
    }

    a {
      text-align: center;
    }

    & img {
      margin: 0 auto;
      width: 10rem;
      grid-row: 1/2;
      grid-column: 1/2;
    }

    & h2 {
      grid-row: 2/3;
      grid-column: 1/2;
      margin: auto;
    }
  }

  &__text {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  &__actions {
    .fa-times {
      margin-left: auto;
    }
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;

    &--user {
      margin-left: auto;
    }
  }

  i {
    cursor: pointer;
    font-size: 2rem;
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .post {
    width: 80%;
    .profile__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      input[type="submit"] {
        width: 100%;
      }
    }

    &__item {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  .post {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .post {
    &__actions {
      grid-column: 1/3;
    }
  }
}
