.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 70%;
  height: 70%;
  background-color: rgba(#2c3439, 0.97);
  overflow: auto;
  .post__item {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .modal {
    width: 80%;
    height: 80%;

    .profile__form {
      width: 100%;
      flex-direction: column;
    }

    .profile__comments, .post__comments {
      width: 100%;

      .profile__comment, .post__comment {
        width: 90%;
      }
    }

    .post__item {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
}
